/* src/components/DailySalesModal.css */

.sales-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.sales-modal {
  position: relative;
  background: #fff;
  padding: 20px;
  width: 90%;
  max-width: 1000px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 8px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.modal-close-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: rgb(135, 133, 133);
}

.modal-close-button:hover {
  color: rgb(165, 92, 92);
}

.modal-actions {
  display: flex;
  gap: 10px;
}

.modal-action-button {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

/* 인쇄 전용 스타일 */
@media print {
  body * {
    visibility: hidden; /* 모든 콘텐츠 숨기기 */
  }

  #daily-sales-content,
  #daily-sales-content * {
    visibility: visible; /* 모달 콘텐츠만 표시 */
  }

  #daily-sales-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  /* 불필요한 요소 숨기기 */
  .modal-header,
  .modal-actions,
  .modal-close-button {
    display: none !important;
  }
}
