/* src/components/Register.css */

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 전체 화면 높이 사용 */
  width: 500px;
  background: #f5f5f5;
}

.register-form {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px; /* 폼의 최대 너비 설정 */
  box-sizing: border-box;
  position: relative;
}

.register-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  /* color: #2ecc71; */
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold; /* 텍스트 굵기 추가 */
  font-size: 1rem; /* 폰트 크기 조절 */
}

.register-form input {
  width: 100%;
  padding: 0.75rem 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.register-form input:focus {
  border-color: #3498db; /* 포커스 시 테두리 색상 변경 */
  outline: none;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* 포커스 시 그림자 추가 */
}

.register-form button {
  width: 100%;
  padding: 0.75rem;
  background: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background 0.3s ease; /* 트랜지션 추가 */
}

.register-form button:hover {
  background: #27ae60;
}

.register-footer {
  margin-top: 1rem;
  text-align: center;
  color: rgb(241, 33, 33);
}

.login-link {
  color: #3498db;
  text-decoration: none;
  transition: text-decoration 0.3s ease; /* 트랜지션 추가 */
}

.login-link:hover {
  text-decoration: underline;
}