/* src/components/ScrapeNowButton.css */

/* 기존 버튼과 유사한 스타일 적용 */
.scrape-now-button {
  padding: 12px;
  width: 100%;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #c7c6c67d;
  font-weight: 600;
  color: black;
  margin: 0px;
margin-bottom: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}
.res-text {
  margin-left: 0px;
}

.scrape-now-button:hover:not(:disabled) {
  background-color: #62ac62e1;
  color: #ffffff;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.scrape-now-button:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.scrape-now-button .onsite-icon {
  font-size: 18px;
  margin: 0px;
}
